h1 {
  color: salmon;
  background: mistyrose;
  font-size: 25.5px;
}

body {
  background-color: #E0FFFF;
  color: #FA8072;
  font-family: Arial, Helvetica, sans-sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.6em;
}

a {
  text-decoration: none;
  color: pink;
}

.button {
  background-color: white;
  color: pink;
  padding: 10px 15px;
  border:none;
}

.button:hover {
  background:pink;
  color: white;
}
